html {
	background-color: #E1E1E1;
}

body {
	position: absolute;
	top: 81px;
	width: 100%;
}

header {
	background-color: #808080;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

div {
	position: relative;
	display: inline-block;
	width: calc(50% - 82px);
	padding: 20px;
	margin: 20px;
	background-color: #9F9F9F;
}

.Right {
	float: right;
}

.Left {
	float: Left;
}

.Date {
	position: absolute;
	top: 15px;
	right: 15px;
	font-style: italic;
	margin: 0;
}

div h1, h2 {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 5px;
}

div h1 {
	margin-top: 0;
}